<table>
  <tr>
    <th>Activity type</th>
    <th>Data</th>
    <th>Main</th>
    <th>Assistance</th>
    <th>Activity</th>
    <th>Note</th>
  </tr>
  <% @activities.each do |a| %>
    <tr>
      <td>
        <%= a.user_activity_type.description %>
      </td>
      <td>
        <%= a.date %>
      </td>
      <td>
        <%= a.hours %>
      </td>
      <% if a.job_order_activity.nil? %>
        <td></td>
        <td></td>
      <% else %>
        <td>
          <%= a.job_order_activity.job_order.code %>
        </td>
        <td>
          <%= a.job_order_activity.description %>
        </td>
      <% end %>
      <td>
        <%= a.description %>
      </td>
    </tr>
  <% end %>
</table>
