<%= form_for @invoice, {:html => {:role => "form"}} do |f| %>
  <%= f.hidden_field :status %>
  <%= hidden_field_tag 'iva', @iva %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :number %>
        <%= f.text_field :number, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :customer %>
        <%= select_tag "invoice[customer_id]", options_from_collection_for_select(@customers, "id", "name", @invoice.customer.id), :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :due_date %>
        <%= f.text_field :due_date, :class => 'isdate1 form-control', :value => @invoice.string_due_date %>
      </div>
      <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, :cols => 20, :rows => 3, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date, :class => 'isdate2 form-control', :value => @invoice.string_date %>
      </div>
      <div class="form-group">
        <%= f.label :is_payed %>
        <%= f.check_box :is_payed, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :has_tax %>
        <%= f.check_box :has_tax, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>
        <%= t('views.invoices.items') %>
        <a class="new-item btn btn-info pull-right" href="#">
          <i class="icon-plus icon-white"></i>
          <%= t('views.invoices.new_item') %>
        </a>
      </h3>
      <table class="items table">
        <thead>
          <tr>
            <th>
              <%= t('views.invoices.description') %>
            </th>
            <th>
              <%= t('views.invoices.amount') %>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :invoice_items do |i| %>
            <tr>
              <td>
                <%= i.text_field :description, {:class => 'col-lg-10 form-control'} %>
              </td>
              <td>
                <%= i.text_field :amount, {:class => 'amount col-lg-2 form-control'} %>
              </td>
              <td>
                <%= i.hidden_field :_destroy %>
                <a class="btn-mini btn remove-item" href="#">
                  <i class="icon-trash"></i>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
